body{
    background: linear-gradient(to right ,cadetblue,darkcyan);
    margin: 0;
}

.container{
    background-color: beige;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    height: 50vh;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: italic;
}

.heading{
    background-color:darkcyan;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 5px;
}
label{
    background-color: darkcyan;
    color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 10px;
    font-style:italic;
    font-family: 'Courier New', Courier, monospace;

}


#input{
    margin: 10px;
    font-size: larger;
    background-color: darkcyan;
    color: beige;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    width:150px;
}


.btn{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    background-color: darkcyan;
    font-size: 20px;
    font-style:  italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
}

#output{
    background-color: darkcyan;
    color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 10px;
    font-style:italic;
    font-family: 'Courier New', Courier, monospace;
}