body{
    margin: 0;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1611928482473-7b27d24eab80?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNsb3VkeSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
    position: relative;
    z-index: 1;
}

h1{
    font-size:70px;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px gray;
}

.btn{
    padding: 10px 20px grey;
    width: 200px;
    cursor: pointer;
    background-color: dimgray;
    color: azure;
    font-size: xx-large;
}

.btn:hover{
    filter: brightness(0.8);
}

.active.container{
    filter: blur(5px) brightness(.7);
}

.popup-container{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color:white ;
    width: 400px;
    height: 200px;
    top: 30%;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdWR5JTIwc2t5fGVufDB8fDB8fHww");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 8px;
    opacity: 1;
    z-index: 1000;
}

h4{
    font-size: 30px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black ;
}

label{
    color: black;
    font-family: sans-serif;
}

.popup-btn{
    background-color: dimgrey;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}

.input{
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

.input::placeholder{
    color: lightgray;
}

.close-icon{
    position:absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover{
    color: lightgray;
}

.popup-container.active{
    display: flex;
    visibility: visible;
    opacity: 1;
    top: 30%;
}