@import url('https://fonts.googleapis.com/css2?family=Notable&family=Playwrite+AU+QLD:wght@100..400&display=swap');
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    align-items: center;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    letter-spacing: 3px;
}