body{
    margin: 0;
    background:linear-gradient(to right , lightblue , azure);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.whole{
    background: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px;
    border-radius: 10px;
    height: auto;
    width: 70vh;
}

.container{
    font: 500px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline;
    
}

.temperature{
    text-align: center;
    
}

.description{
    text-align: center;
}
.icon{
    text-align: center;
}

.fl{
    padding: 20px;
    background: linear-gradient(to right ,lightblue, azure) rgba(197, 238, 251, 0.893);
    border-radius: 10px;
    margin: 5px;
}

.hmd{
    padding: 20px;
    background: linear-gradient(to right ,lightblue, azure) rgba(197, 238, 251, 0.893);
    border-radius: 10px;
    margin: 5px;
}

.ws{
    padding: 20px;
    background: linear-gradient(to right ,lightblue, azure) rgba(197, 238, 251, 0.893);
    border-radius: 10px;
    margin: 5px;
}
#input{
    border-radius: 5px;
    box-shadow: 0,5px,5px;
    border: transparent;
    height: 50px;
    width:200px;
    background: transparent;
    color: azure;
}

#input::placeholder{
    color: azure;
}

.submit{
    border-radius: 5px;
    box-shadow: 0,5px , 5px;
    height: 5vh;
    width: 15vh;
    background-color: green;
    color: azure;
    cursor: pointer;
}


.details div {
    flex: 1;
    background: rgba(191, 233, 245, 0.9);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}